
<!DOCTYPE html>
<html>
		<div class="navbar navbar-inverse navbar-fixed-top">
			<div class="navbar-header">
				<a href="/" class="navbar-brand"></a>
			</div>
			<div class="navbar-collapse collapse" id="navbar-main">
				<ul class="nav navbar-nav">

					<li class="dropdown">
						<a href="/">Contatos</a>
					</li>
					<li class="dropdown">
						<a href="/">Chat</a>
					</li>
				</ul>	
			</div>
		</div>
	
</html>
