
<!DOCTYPE html>
<html>
		<div class="navbar navbar-inverse navbar-fixed-top">
			<div class="container">

				<div class="navbar-header">
					<a href="/" class="navbar-brand"> Portal Academico</a>
				</div>
				<div class="navbar-collapse collapse" id="navbar-main">
					<ul class="nav navbar-nav">
						<li class="dropdown">
							<a href="/alunos">Alunos</a>
						</li>
						<li class="dropdown">
							<a href="/">Professores</a>
						</li>
						<li class="dropdown">
							<a href="/sair">Sair</a>
						</li>
					</ul>	
				</div>
			</div>
		</div>
	
</html>
